$h1_letter_spacing: 2rem
.product-title
  display: flex
  justify-content: center
  letter-spacing: $h1_letter_spacing
  margin-right: $h1_letter_spacing * -1
  margin-top: 15vh
  .product-title__text
    position: relative
    .top-balloon
      background-image: url('/topBalloon.png')
      background-size: contain
      background-repeat: no-repeat
      color: #fff
      display: inline-block
      font-size: 5rem
      height: 9rem
      left: -10rem
      letter-spacing: normal
      position: absolute
      text-align: center
      top: -5rem
      transform: rotate( -15deg )
      width: 11rem


.triangle_wrap
  padding-bottom: 400px
  position: absolute
  overflow: hidden
  top: 0
  left: 0
  width: 100%
  z-index: -1

.triangle_right
  position: relative
  &::after
    content: ''
    position: absolute
    top: 100%
    left: 50vw
    width: 0
    height: 0
    border-top: 200px solid #004C83 // 変数表示したい
    border-left: 50vw solid transparent
    border-right: 50vw solid transparent

.triangle_left
  position: relative
  &::after
    content: ''
    position: absolute
    top: 100%
    left: -50vw
    width: 0
    height: 0
    border-top: 400px solid #FCF7B0 // 変数表示したい
    border-left: 50vw solid transparent
    border-right: 80vw solid transparent

.rf-container
  padding: 1rem 2rem 0 2rem
  width: 100%
