
.illustrations__list
  display: flex
  justify-content: space-between
  .illustrations__list--item
    align-items: flex-end
    display: flex
    &:nth-child(1)
      width: 110px
    &:nth-child(2)
      width: 160px
    &:nth-child(3)
      width: 160px

.keywords
  max-height: 160px
  overflow-y: scroll

.keywords__list
  display: flex
  gap: 16px
  flex-wrap: wrap
  justify-content: center
  white-space: nowrap
  .keywords__list--item
    background-color: $yellow
    border-radius: 4px
    display: inline-block
    padding: 4px 8px

.product-title
  @extend %h1-text
  display: flex
  justify-content: center
  margin-top: 12vh
  .product-title__text
    position: relative
    .top-balloon
      background-image: url('/top-balloon.svg')
      background-size: contain
      background-repeat: no-repeat
      color: #fff
      display: inline-block
      font-size: rem(88)
      height: 9rem
      left: -10rem
      letter-spacing: normal
      line-height: 1.1
      position: absolute
      text-align: center
      top: -5rem
      transform: rotate( -15deg )
      width: 200px

.rf-container
  padding: 1rem 2rem 0 2rem
  width: 100%

.submit-button
  display: flex
  justify-content: center

.triangle_wrap
  padding-bottom: 400px
  position: absolute
  overflow: hidden
  top: 0
  left: 0
  width: 100%
  z-index: -1

.triangle_right
  position: relative
  &::after
    content: ''
    position: absolute
    top: 100%
    left: 50vw
    width: 0
    height: 0
    border-top: 200px solid $blue
    border-left: 50vw solid transparent
    border-right: 50vw solid transparent

.triangle_left
  position: relative
  &::after
    content: ''
    position: absolute
    top: 100%
    left: -50vw
    width: 0
    height: 0
    border-top: 400px solid $yellow
    border-left: 50vw solid transparent
    border-right: 80vw solid transparent
