.diagnose__bottom-content
  align-items: center
  display: flex
  flex-direction: column
  .buttons
    text-align: center
  .your-keywords
    @extend %card-base
    margin-bottom: 24px
    position: relative
    width: 60%
    &::before
      $illustration-size: 180px
      background-image: url('/illust-cat-04.svg')
      background-position: center
      background-repeat: no-repeat
      background-size: contain
      content: ""
      display: block
      position: absolute
      left: 0
      top: calc(-#{ $illustration-size } / 4 )
      height: $illustration-size
      width: $illustration-size

.diagnose__content
  align-items: start
  display: grid
  gap: 16px
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr))
  justify-items: center
  margin-bottom: 48px

.diagnose__top-content
  display: flex
  flex-direction: column
  margin-bottom: 40px
  .diagnose__top-content--form
    display: flex
    justify-content: center !important
    width: 100%
    .title
      display: flex
      flex-grow: 1
      white-space: nowrap
      &.for-display
        border-bottom: dotted 2px $blue
    .button
      $icon-size: 32px
      color: $blue
      display: block
      height: $icon-size
      width: $icon-size
      &.disabled
        color: $blue-30

.rephrasing
  $rephrasing-line-height: 2
  $transition-duration: 0.3s
  @extend %card-base
  max-width: 350px
  .descriptions
    .summary
      margin-bottom: 32px
      .title
        .negative-word
          @include underline($blue-30)
      .text
        line-height: $rephrasing-line-height
        .positive-word
          @include underline($yellow)
    .hidden-content
      overflow: hidden
      margin: 0
      *
        transition: all $transition-duration ease-out
        line-height: 0
        opacity: 0
        margin: 0
      &.active
        margin-bottom: 32px
        *
          line-height: $rephrasing-line-height
          opacity: 1
  .expand-btn
    color: $blue
    text-align: center
    .expand-btn__text
      display: none
      &.active
        display: block
    .expand-btn__icon.rotate
      transform: rotate(180deg)
      transition: $transition-duration
